* {
  	box-sizing: content-box;
}
body {
	width: 100%;
}
div {
	padding-top: 5px;
	padding-bottom: 5px;
}
.border-b {
	border-bottom: 1px solid;
	width: 100%;
}
.changes-genre {
	width: 200px;
}
.d {
	display: inline-block;
}
.center {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	display: block;
}
.search-word {
	margin: 0px 0px 15px 0px;
	border: 1px solid green;
	padding: 5px;
}
.one, .two {
	width: auto;
	margin: 5px;
	margin-bottom: 0px;
}
.oneO, .twoO {
	margin-top: 12px;
}
.remove {
    font-size: 16px;
    margin-top: 0px;
    margin: 3px 0px;
    padding: 0px 9px;
}
.put-circle {
    width: 15px;
    height: 16px;
    background-color: #000;
    display: flex;
    text-align: right;
    align-content: flex-end;
    margin-top: 10px;
    position: absolute;
    border-radius: 50%;
    right: 15%;
}
.flex {
	padding: 0px;
	display: flex;
    justify-content: space-between;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}
input {
	width: 180px;
}
.buttons {
	padding: 10px 20px;
	border: 1px solid aquamarine;
	border-radius: 5px;
	margin: 10px;
	margin-top: 0px;
}
.buttons:hover {
	background-color: #fff;
	cursor: pointer;
	transition: 0.3s;
}